*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #ccc;
}

a{
    text-decoration: none;
}

a:hover{
    color: #fff;
}

a:hover i{
    color: #fff;
}

/* NAV BAR */

.container{
    height: 100vh;
}

.logo,.user,.playlist{
    padding: 20px;
}

.first-box{
    display: flex;
    justify-content: flex-start;
    height: calc(100vh - 80px);
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 260px;
    background-color: #000;
    overflow: hidden;
}

.first-section{
    height: calc(100% - 120px);
    min-height: 400px;
}

.second-section{
    min-height: 120px;
}

.logo .logo-normal{
    width: 80%;
}

.logo-minimize{
    display: none;
}

.navigation{
    margin-top: 10px;
    margin-bottom: 25px;
}

.navigation img{
    width: 30px;
    margin-right: 10px;
    margin-left: 20px;
}

.navigation div{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.home{
    color: #fff;
    border-left: 3px solid #00ff00;
    cursor: pointer;
}


.home:hover{
    color: #fff;
    border-left: 3px solid #00ff00;
    cursor: pointer;
}


.search:hover{
    color: #fff;
    border-left: 3px solid #00ff00;
    cursor: pointer;
}

.libreria:hover{
    color: #fff;
    border-left: 3px solid #00ff00;
    cursor: pointer;
}

.playlist h3{
    font-size: 17px;
    margin-bottom: 10px;
    color: #fff;
}

.new-playlist{
    display: flex;
    align-items: center;
}

.aggiungi{
    display: inline-block;
    text-align: center;
    line-height: 38px;
    font-size: 30px;
    font-weight: bold;
    width: 38px;
    height: 38px;
    background-color: #ccc;
    margin-right: 10px;
    color: #000;
}

.new-playlist:hover .aggiungi{
    background-color: #fff;
}

.new-playlist:hover a{
    color: #fff;
}

ul{
    flex-shrink: 1;
    list-style: none;
    line-height: 35px;
    margin-top: 10px;
    margin-left: 20px;
}

.static{
    max-height: 340px;
}

.scroll{
    height: calc(100% - 340px);
}


.scrollbar{
    height: 100%;
    overflow-y: auto;
}

.download{
    border-bottom: 2px solid #ccc;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.download img{
    width: 20px;
    margin-right: 10px;
}

.account{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.account img{
    width: 35px;
    background-color: #999;
    margin-right: 10px;
    border-radius: 50%;
}




/* MAIN */

main{
    width: calc(100% - 260px);
    background-color: #141922;
    padding-top: 100px;
    overflow-y: scroll;
}


/* UPGRADE */

.upgrade{
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.upgrade .button a{
    color: #fff;
    padding: 15px;
    font-size: 17px;
    border: 2px solid #fff;
    border-radius: 40px;
}

.upgrade-button{
    width: calc(100% - 260px);
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}

.upgrade .button:hover a{
    color: #fff;
    padding: 19px;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 40px;
}










/* CATEGORY */

.category{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.category-box{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.category-box a{
    color: #777;
    text-decoration: none;
    margin: 0px 10px;
    font-weight: bold;
    position: relative;
    padding-bottom: 10px;
}

.category-box div{
    margin: 10px 5px;
}

.category-box .button1 a::after{
    content: "";
    position: absolute;
    width: 40%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 5px solid #00ff00;
}

.category-box .button:hover a::after{
    content: "";
    position: absolute;
    width: 40%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 5px solid #00ff00;
}













/* CANZONI */

.flex-songs{
    display: flex;
    justify-content: space-between;
}

.album{
    padding: 5px;
    width: 20%;
    min-width: 100px;
    max-width: 200px;
    margin: 10px;
    text-align: center;
}

.your-songs .flex-songs{
    justify-content: flex-start;
}

.popular .flex-songs{
    justify-content: flex-start;
}

.photo{
    position: relative;
}

.rounded img,.rounded .play{
    border-radius: 50%;
}

.play{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

.album:hover .play{
    position: absolute;
    display: block;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.play i{
    font-size: 60px;
}

.play i:hover{
    font-size: 60px;
    color: #fff;
}

.songs{
    padding-left: 20px;
}

.songs img{
    width: 100%;
}

.songs h2{
    font-size: 30px;
    color: #eee;
    margin-top: 30px;
    margin-bottom: 10px;
}

.songs .description{
    margin-bottom: 10px;
    font-size: 15px;
    color: #777;
}

.songs .title{
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
}
.songs .subtitle{
    font-size: 15px;
    color: #777;
    margin-top: 5px;
    margin-bottom: 10px;
}



/* FOOTER */

.second-box{
    height: 80px;
}

footer{
    display: flex;
    justify-content: flex-start center space-between;
    height: 100%;
    width: 100%;
    background-color: #222;
    z-index: 1;
}


/* LEFT */

.footer-box-left{
    display: flex;
    justify-content: space-between;
    width: 250px;
    max-width: calc(100% / 3);
    height: 100%;
    padding: 20px;
    background-color: #222;
    z-index: 122;
}

.logo-and-artist,.like-and-folder{
    display: flex;
    align-items: center;
}

.logo-song img{
    width: 40px;
    margin-right: 10px;
}

.artist{
    font-weight: bold;
    color: #fff;
    font-size: 13px;
}

.artist-title .title{
    margin-top: 5px;
    color: #777;
    font-size: 10px;
}

.like,.add-folder{
    margin: 0px 7px;
    font-size: 20px;
}



/* CENTER */

.footer-box-center{
    width: calc(100% - 450px);
    min-width: 200px;
    flex-grow: 1;
    height: 100%;
    padding: 10px;
    background-color: #222;
}

.controllo-comandi{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 5px;
}

.controllo-comandi .fas{
    margin: 0px 12px;
    font-size: 18px;
}

.fa-play-circle{
    font-size: 25px;
    margin: 0px 10px;
}

.fa-play-circle:hover{
    font-size: 28px;
    margin: 0px 10px;
}

.barra-stato{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra{
    width: 100%;
    height: 5px;
    background-color: #666;
    margin: 0px 15px;
    min-width: 100px;
}

.stato{
    height: 100%;
    width: 30%;
    background-color: #fff;
    position: relative;
}

.actual-timing,.timing{
    color: #fff;
    font-size: 13px;
}

.barra:hover .stato{
    background-color: #00ff00;
    cursor: pointer;
}

.barra:hover .stato::before{
    position: absolute;
    right: -5px;
    top: -5px;
    content: '';
    width: 17px;
    height: 17px;
    background-color: #fff;
    border-radius: 50%;
    float: left;
}




/* RIGHT */

.footer-box-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 200px;
    max-width: calc(100% / 3);
    height: 100%;
}

.footer-box-right .fas{
    margin: 0px 5px;
}

.volume{
    width: 100px;
    height: 5px;
    background-color: #666;
    margin-right: 10px;
}

.stato-volume{
    width: 30%;
    height: 100%;
    background-color: #fff;
    position: relative;
}

.volume:hover .stato-volume{
    background-color: #00ff00;
    cursor: pointer;
}

.volume:hover .stato-volume::before{
    position: absolute;
    right: -5px;
    top: -5px;
    content: '';
    width: 17px;
    height: 17px;
    background-color: #fff;
    border-radius: 50%;
    float: left;
}







/* ------------------------------ */


@media screen and (max-width: 1300px) {

    .flex-songs{
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-grow: 1;
    }

}




@media screen and (max-width: 800px) {
    
    .footer-box-left{
        padding: 20px 5px;
    }

    /* .footer-box-center{
        width: 190px;
    }

    .footer-box-right{
        width: 130px;
    } */

    .like-and-folder{
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }

    .flex-songs{
        flex-wrap: wrap;
    }

    .album{
        width: 50%;
        margin: 0 auto;
    }


}










@media screen and (max-width: 575px) {
    
    nav{
        height: 100%;
        width: 50px;
        background-color: #000;
    }

    main{
        width: calc(100% - 50px);
    }

    .upgrade-button{
        width: calc(100% - 50px);
    }

    .logo .logo-normal,.navigation span,.second-section,.playlist,.scrollbar{
        display: none;
    }

    .navigation-button img{
        margin: 0px;
    }
  
    .navigation-button{
        border: 0;
        justify-content: center;
    }

    .logo-minimize{
        display: block;
        width: 100%;
        filter: invert(100%);
    }

    .logo{
        padding: 10px;
    }

    .album{
        width: 50%;
        margin: 0 auto;
    }

}